
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #3a4e79;
	padding: 10px;
	margin-left: 30px;
}

.headerContact {
	margin-left: 75px

}
.fruitBanner {
	background-image: url('../images/fruitNew.jpg');
	height: 400px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.doctorsName {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.introText {
	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px;
}

.img-responsive {
	margin-top: 30px;
}
nav ul li {
	font-weight: 900;
	font-size: 25px;

}

.waistTapeMeasure {
	height: 200px;
}

.pregnantWoman {
	height: 200px;

}

.foodIntolerance {
	height: 200px;
}

.v2irritablebowel {
	height: 200px;
}

.menopause {
	height: 200px;
}

.heartDisease {
	height: 200px;
}

.diabetes {
	height: 200px;
}

.footerholder {

    bottom: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

#ContactHeader {
	text-align: center;
}

.footer {

    height: 100px;
    margin: auto;
    width: 600px;
		margin-top: 40px;
}
